@import "./styles/fonts.css";

body {
  background-color: #282828;
  color: #ebdbb2;
  font-family: "Outfit Variable", system-ui, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-weight: normal;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  font-family: "Monaspace Neon", monospace;
  color: #ebdbb2;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

@media (hover: hover) {
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.25rem;
  }

  a {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  a {
    font-size: 1.6rem;
  }
}
